In [12]:
select count(*) as 'Foglalások száma'
from Foglalas
where year(mettol) = YEAR(meddig) AND
    month(mettol) <> MONTH(meddig)

Foglalások száma
131

In [28]:
select TIPUS, round(avg(CSILLAGOK_SZAMA),0)
from szallashely
where tipus <> 'panzió' 
group by TIPUS
having round(avg(CSILLAGOK_SZAMA),0)>=3

TIPUS,(No column name)
Hotel,3